# ignore all default files
apache2.conf
conf-available/*
conf-enabled/*
envvars
magic
mods-available/*
mods-enabled/*
ports.conf
sites-available/*
sites-enabled/*

# allow all files planed for changes
!mods-available/ssl.conf
!sites-available/000_vhost_080_default.conf
!sites-available/020_vhost_443_vscode.conf
!sites-available/999_vhost_443_default.conf
